@import "src/theme/theme-variables";
@import "~bootstrap/scss/mixins/_breakpoints";

.ng-invalid.ng-touched:not(form) {
  border-left: 4px solid theme-color("danger");
}

.head-size {
  color: #28a745;
}
@include media-breakpoint-down(xs) {
  .container {
    width: 100%;
  }
}
