<div class="weather-container bg-light">
  <div class="weather-box">
    <div class="container">
      <div class="card col-md-10 mt-3 mx-auto">
        <div>
          <a routerLink="/weather" routerLinkActive="active">link to Weather page</a>
        </div>
        <div class="card-body">
          <h3>Oops, the request is bad</h3>
        </div>
      </div>
    </div>
  </div>
</div>
