<div class="weather-container bg-light">
  <div class="weather-box">
    <h3>{{ cityParam }} </h3>
    <h2 class="head-size">Forecast of weather {{ showCity }}</h2>
    <div class="container">
      <div class="card col-md-10 mt-3 mx-auto">
        <app-calendar #tcalendar (dateSelected)="dateSelected($event)">
        </app-calendar>
      </div>
      <div class="card col-md-10 mt-3 mx-auto">
        <div class="card-body">
        <div *ngIf="showForeCast">
          <div *ngFor="let list of dailyWeatherProperties; let i = index;">
            <div *ngIf="i < 1" class="row bg-info">
              <div *ngFor="let items of list; let g = index;"
              [class.col-sm-2]="g <= 2" [class.col-sm]="g > 2"
               class="gr-col-50 col text-sm-center">
                {{ items.title }}
              </div>
            </div>
          </div>
          <div *ngFor="let list of dailyWeatherProperties; let odd = odd;"
          [class.bg-light]="odd" class="row border" >
            <div *ngFor="let items of list; let i = index;" [class.col-sm-2]="i <= 2" [class.col-sm]="i > 2" class="gr-col-60  text-sm-center">
              {{ items.value }}
            </div>
          </div>
        </div>
        <div class="form-top">
          <form (ngSubmit)="weather()" [formGroup]="weatherForm" novalidate>
            <div class="form-group">
              <label class="d-block">
                <select formControlName="city" (ngModelChange)="onChangeObj($event)">
                  <option>Choose City</option>
                  <option *ngFor="let city of listCity">{{ city }}</option>
                </select>
              </label>
            </div>
            <div class="button-block">
              <button class="btn btn-primary w-100" type="submit" [disabled]="weatherForm.invalid || isLoading">
                <i class="fas fa-spin" [hidden]="!isLoading"></i>
                <span class="weather-button">{{ buttonName }}</span>
              </button>
            </div>
          </form>
        </div>
          <div class="button-block btn-top">
            <button class="btn btn-primary w-100" type="submit" (click)="toAddCity()">
              <i class="fas fa-spin"></i>
              <span class="weather-button">{{ addCitybuttonName }}</span>
            </button>
        </div>
        
      </div>
    </div>
  </div>
</div>
</div>
