@import "src/theme/theme-variables";
@import "~bootstrap/scss/mixins/_breakpoints";

.weather-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.weather-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
}

.ng-invalid.ng-touched:not(form) {
  border-left: 4px solid theme-color("danger");
}

$base-color: #119b5a;
$border-dark: rgba($base-color, 0.88);

.weather-button {
  color: red($color: #f80808);
}

.w-100 {
  max-width: 250px;
  color: red($color: #f80808);
  border: 2px solid $border-dark;
}

.col { border: 1px solid transparent; }

.col-sm-2 {
  max-width: 110px;
  padding-right: 2px;
  padding-left: 2px;
}

.gr-col-60 {
  margin-bottom: 2px;
  padding-top: 15px;
  height: 69px;
}

.gr-col-50 {
  padding-top: 15px;
  height: 59px;
}
  
.form-top {
  margin-top: 50px;
}

.btn-top {
  margin-top: 50px;
}

.button-block {
  width: 550px;
}

.head-size {
  color: #0058aa;
}

@include media-breakpoint-down(xs) {
  .container {
    width: 100%;
  }
}
