@import "src/theme/theme-variables";
@import "~bootstrap/scss/mixins/_breakpoints";

.ng-invalid.ng-touched:not(form) {
  border-left: 4px solid theme-color("danger");
}

.head-size {
  color: #28a745;
}

$base-color: #119b5a;
$border-dark: rgba($base-color, 0.88);

.w-100 {
  max-width: 250px;
  color: red($color: #f80808);
  border: 2px solid $border-dark;
}

.btn-bottom {
  margin-bottom: 20px;
}

.btn-top {
  margin-top: 50px;
}

.btn-wh {
  width: 120px;
}
.button-block {
  width: 550px;
}

@include media-breakpoint-down(xs) {
  .container {
    width: 100%;
  }
}
