<div class="weather-container bg-light">
  <div class="weather-box">
    <div class="container">
      <div class="card col-md-5 mt-5 p-2 mb-5 mx-auto">
        <div>
          <a routerLink="/weather" routerLinkActive="active">link to Weather page</a>
        </div>
        <div class="card-body">
          <h3>Cities</h3>
        </div>
        <div class="btn-bottom">
          <form (ngSubmit)="addCity()" [formGroup]="addCityForm" novalidate>
            <div class="form-group">
              <label class="d-block">
                <input
                  type="text"
                  class="form-control"
                  formControlName="addCity"
                  autocomplete="city"
                  [placeholder]="'Cities'"
                  required
                />
              </label>
            </div>
            <button class="btn btn-primary btn-wh" type="submit" [disabled]="addCityForm.invalid">
              <i class="fas"></i>
              <span>add new city</span>
            </button>
          </form>
        </div>
        <div class="btn-bottom">
          <form (ngSubmit)="removeCity()" [formGroup]="removeCityForm" novalidate>
            <div class="form-group">
              <label class="d-block">
                <select formControlName="remCity" (ngModelChange)="onChangeList($event)">
                  <option>Choose City</option>
                  <option *ngFor="let city of listCity">{{ city }}</option>
                </select>
              </label>
            </div>
            <button class="btn btn-primary btn-wh" type="submit" [disabled]="removeCityForm.invalid">
              <i class="fas"></i>
              <span>remove city</span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
